/* Общие настройки */
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

body {
    width: 800px;
    height: 100%;
    margin: 0 auto;
}
/*  все для хедера */
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.logotip {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    width: 100px;
    height: 50px;
    padding-left: 55px;
}

.logo {
    display: block;
    position: relative;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    background-image: url(mail.png);
    background-position: 0 0;
    background-size: contain;
}

.user {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 50px;
}

.user>div {
    position: relative;
    top: 5px;
    padding-top: 20px;
    text-transform: lowercase;
    font-weight: lighter;
    font-size: smaller;
}
.acc {
    display: flexbox;
    position: relative;
    top: 20px;
    width: 25px;
    height: 25px;
    background-image: url(account.png);
    background-position: 0 0;
    background-size: contain;
}

/* все по меню */
.menu {
    flex-basis: 15%;
    border: sol;
    text-transform: capitalize;
}

.menu>div {
    display: flex;
    justify-content: start;
    padding: 5px;
}

.menu>div:hover {
    background-color: pink;
}

.menu>div>.icons {
    width: 15px;
    height: 15px;
    position: relative; 
    top: 2px;
    background-size: contain;
}

.menu>div>.text {
    padding-left: 10px;
}

.menu>.inc>.icons {    
    background-image: url('incom.png');
}

.menu>.out>.icons{
    background-image: url('outcom.png');
}

.menu>.drf>.icons {
    background-image: url('draft.png');
}

.menu>.spam>.icons {
    background-image: url('spam.png');
}

/* все по почте */
.mail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 80%;
    font-size: 0.8rem;
}

.mail>div {
    display: flex;
    justify-content: space-between;
    line-height: 1.2rem;
    border-bottom: solid 1px rgb(206, 206, 206);
}

.mail>div:hover {
    background-color: pink;
}

.mail>div>.msg {
    display: flex;
}

.author {
    flex-basis: 13%;
}

.msg_name {
    flex-basis: 35%;
}
.msg {
    font-size: 0.6rem;
    color: gray;
    flex-basis: 35%;
}

.dt {
    flex-basis: 8.3%;
}

.read_no, .read_yes {
    flex-basis: 2%;
}

.read_yes {
    background-image: url('attach_26.png');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}
.mail>div>div {
    display: inline-block;
}

.icon, .iconr {
    flex-basis: 1.6%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}

.icon {
    background-image: url('star1.svg');
}

.iconr {
    background-image: url('star2.svg');
}


@media screen and (max-width: 800px) {
    body {
        width: 550px;
        height: 100%;
        margin: 0 auto;
    }

    .mail>div {
        flex-wrap: wrap;
    }

    .author {
        flex-basis: 60%;
    }

    .icon, .iconr {
        flex-basis: 5%;
        background-position: 5px 5px;
    }

    .msg_name, .msg {
        position: relative;
        left: 50px;
        flex-basis: 80%;
        order: 1;
    }

    .msg>i {
        display: none;
    }

    .dt {
        flex-basis: 10%;
    }   
    .read_no, .read_yes {
        flex-basis: 5%;
    }
}

@media screen and (max-width: 550px) {
    body {
        width: 300px;
        height: 100%;
        margin: 0 auto;
    }

    .mail>div {
        flex-wrap: wrap;
    }

    .mail {
        flex-basis: 90%;
    }

    .author {
        flex-basis: 60%;
    }

    .icon, .iconr {
        flex-basis: 8%;
        background-position: 5px 5px;
    }

    .msg_name, .msg {
        position: relative;
        left: 30px;
        flex-basis: 70%;
        order: 1;
    }

    .msg>i {
        display: none;
    }

    .dt {
        flex-basis: 15%;
    }   

    .read_no, .read_yes {
        flex-basis: 5%;
    }

    div>.text {
        display: none;
    }

    .menu {
        flex-basis: 5%;
    }
}
